:root {
  --color-one-base: orange;
  /* --color-one-dark-text: darkblue; */
  --color-one-dark-text: rgb(11, 11, 107);
  --color-one-light: rgb(255, 231, 183);
  --color-one-dark: rgb(137, 89, 0);
  --font-sans: Tahoma, Verdana, sans-serif;
  --font-serif: Courier New, serif;
}

[hidden] {
  display: none !important;
}

#dynamic-input {
  display: block;
}

.query-title {
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-color: whitesmoke;
  font: message-box;
  /* font-family: var(--font-sans); */
  background-color: whitesmoke;
}

.manual {
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.manual h3 {
  margin: 0px;
}

.manual p {
  margin: 0px;
}

.manual p.confirm {
  border-width: 2px;
  border-style: dashed;
  border-color: green;
  margin-bottom: 2px;
  margin-right: 15px;
  margin-left: 15px;
  /* border-radius: 5px; */
}

.manual p.cancel {
  border-width: 2px;
  border-style: dashed;
  border-color: darkred;
  margin-bottom: 2px;
  margin-right: 15px;
  margin-left: 15px;
  /* border-radius: 5px; */
}

.medsyntax-target div.hover,
.medsyntax-target .hover div,
.medsyntax-target div.quote-term.hover,
.medsyntax-target .hover div.quote-term,
.medsyntax-target div.term.hover,
.medsyntax-target .hover div.term {
  background: var(--color-one-base);
  background-clip: padding-box;
  /* border-color: var(--color-one-base); */
  /* border-bottom-style: solid; */
}

body {
  background-color: lightgrey;
  /* font: message-box; */
  font-family: var(--font-sans);
}

#demo2 {
  padding: 5px;
  background-color: lightslategray;
  /* font: message-box; */
  font-family: var(--font-sans);
}

#demo-button {
  display: inline-block;
  margin-bottom: 5px;
}

.query-input {
  padding: 5px;
  font: message-box;
  /* font-family: var(--font-sans); */
  background-color: whitesmoke;
  border-color: gray;
  border-radius: 3px;
}

.dynamic-input {
  font: message-box;
  /* font-family: var(--font-sans); */
  background: var(--color-one-light);
  border-width: 3px;
}

/* .medsyntax-target div {
  border-color: white;
  border-bottom-style: solid;
} */

.medsyntax div {
  color: black;
  display: inline-block;
  /* margin-bottom: 2px; */
  /* padding-bottom: 2px; */
  /* padding-top: 2px; */
}

.medsyntax div.search-string div.boolean-error-or {
  color: white;
  /* background-color: whitesmoke; */
  background: darkred;
  border-style: solid;
  border-color: darkmagenta;
}

.medsyntax div.search-string.hover div.boolean-error-or,
.medsyntax div.search-string div.boolean-error-or.hover,
.medsyntax div.search-string .hover div.boolean-error-or {
  color: black;
  background: var(--color-one-light);
  /* background: orange; */
}

.medsyntax div.search-string div.boolean-error-and {
  color: white;
  /* background-color: whitesmoke; */
  background: darkblue;
  border-style: solid;
  border-color: darkcyan;
}

.medsyntax div.search-string.hover div.boolean-error-and,
.medsyntax div.search-string div.boolean-error-and.hover,
.medsyntax div.search-string .hover div.boolean-error-and {
  color: black;
  background: var(--color-one-light);
  /* background: orange; */
}

.medsyntax .term {
  /* color: red; */
  /* border-bottom-style: dashed; */
  /* border-bottom-color: lightgray; */
  padding-left: 5px;
}

.medsyntax div.search-string {
  /* background-color: white; */
  background-color: whitesmoke;
  padding: 15px;
  padding-top: 20px;
  border-radius: 5px;
  display: inline-block;
}

.medsyntax-target div.quote-term {
  /* margin-bottom: 1px; */
  background: lightgray;
}

.medsyntax-target .quote-term div.bracket-open,
.medsyntax-target .quote-term div.bracket-close {
  border-color: lightgray;
}

.medsyntax-target .hover div.bracket-open,
.medsyntax-target .hover div.bracket-close,
.medsyntax-target .quote-term div.bracket-open.hover,
.medsyntax-target .quote-term div.bracket-close.hover {
  border-color: var(--color-one-base);
}

.medsyntax-target div.boolean {
  color: var(--color-one-dark-text);
  /* color: black; */
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-family: var(--font-serif);
}

.medsyntax-target div.brackets {
  padding: 1px;
  border-radius: 5px;
  border: var(--color-one-dark);
  /* background: var(--color-one-lightest); */
  /* border: black; */
  border-style: solid;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  filter: hue-rotate(110deg);
}

.medsyntax-target div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets {
  border-style: solid;
  border-width: 2px;
  margin-top: 3px;
}

.medsyntax-target div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets,
.medsyntax-target div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets div.brackets {
  /* border-style: dashed; */
  border-style: solid;
  border-width: 2px;
  margin-top: 3px;
}

.medsyntax-target div.square-brackets {
  /* color: rgb(111, 111, 111); */
  padding-right: 2px;
  font-family: var(--font-serif);
}

.medsyntax .medsyntax-target .search-string .square-brackets div {
  border-bottom-style: none;
  padding: 0px;
}

.medsyntax-target div.near {
  padding-left: 5px;
  /* color: rgb(111, 111, 111); */
  color: grey;
  font-weight: bold;
  font-family: var(--font-serif);
}

.medsyntax-target div.embase {
  /* color: rgb(111, 111, 111); */
  font-family: var(--font-serif);
}

.medsyntax-target div.pubmed {
  /* color: rgb(111, 111, 111); */
  padding-right: 3px;
  padding-left: 3px;
  font-family: var(--font-serif);
}

p.warning-medsyntax {
  background-color: lightcoral;
}

h3 {
  color: black;
  background-color: lightgrey;
  padding: 5px;
  border-width: 5px;
  border-radius: 5px;
  border-color: darkgray;
}

p {
  padding: 5px;
}

/* <!-- source: w3schools --> */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  /* margin-left: -75px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}